.link {
    display: block;
    outline: 0 none;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    height: 2.61111rem;
    line-height: 2.61111rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
    color: #fff;
    background-color: #108ee9;
    border: 1PX solid #ddd;
    border-radius: 0.27778rem;
}